/* @font-face {
    font-family: "KOPUBBATANGMEDIUM";
    src: url("font/KOPUBBATANGMEDIUM.TTF") format("truetype");
    font-weight: lighter;
}
@font-face {
    font-family: "KOPUBBATANGLIGHT";
    src: url("font/KOPUBBATANGLIGHT.TTF") format("truetype");
    font-weight: lighter;
} */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Restrict Overall Scroll */
    font-family: 'Libre Baskerville', serif;
}

#menu-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #f88f8f;
    margin-right: 2em; /* Margin between tab and title */
    margin-left: 2em;   /* Margin between left and title */
}

#menu {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#menu-tabs {
    display: flex;
}

.menu-tab {
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
}

.menu-tab.active {
    background-color: #e07878;
    border-bottom: 2px solid white;
}

.tab-content {
    display: none;
    flex: 1;
    overflow: hidden; /* Activate only inside scroll */
}

.tab-content.active {
    display: flex;
}

#mainContainer {
    display: flex;
    flex: 1;
    height: calc(100% - 50px); /* For Menubar */
    overflow: hidden; /* Restrict Overall Scroll */
    min-width: 100vw; /* Prevent container from shrinking */
}

#map {
    width: 60%; /* Fixed Width */
    height: 100%; /* Fill height */
    flex-shrink: 0; /* Prevent shrinking */
    min-width: 60%; /* Prevent shrinking further */
    min-height: 100%; /* Prevent shrinking further */
}

#chartContainer {
    width: 40%; /* Fixed Width */
    height: 100%; /* Fill height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    overflow-y: auto; /* Scroll */
    flex-shrink: 0; /* Prevent shrinking */
    min-width: 40%; /* Prevent shrinking further */
    min-height: 100%; /* Prevent shrinking further */
}

.chart-canvas {
    flex: none; /* Fixed Size */
    height: 30%; /* Fixed Height */
    margin-bottom: 10px;
    max-height: 30%;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#chart1Title {
    font-family: 'Arial';
    font-size: 1.2em;
    color: black;
}

#chart1Description {
    font-family: 'Arial';
    font-size: 0.8em;
    color: black;
}

#chart2Title {
    font-family: 'Arial';
    font-size: 1.2em;
    color: black;
}

#chart2Description {
    font-family: 'Arial';
    font-size: 0.8em;
    color: black;
}

#statistics {
    font-family: 'Arial';
    font-size: 0.8em;
    color: black;
}